@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        font-family: 'Montserrat', sans-serif !important;
        line-height: normal;
        color: #343434;
        letter-spacing: 0.03em;
    }
}
.anime {
  @apply motion-safe:transition duration-[0.15s] ease-in-out ;
}


.nuxt-link-exact-active {
  background: white;
  border: none
}
:focus { outline: none; }

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}






